<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

<listeners>
    <listener class-name="testtwo.Listner" />
</listeners>


<test name="Login">
    <classes>
        <class name="testtwo.LoginClass" ></class>  
        
    </classes>
</test>

</suite>
